# Testing Package

## Subpackage - teamstats

### Module - basic

***LoadData Function*** - This loads the correct dataframe for the user based on the year

In [6]:
import hockey.teamstats.basic as basic

basic.LoadData()

Enter the season you would like data for: Please just enter the year the season finished (e.g., 2021/2022 enter 2022) 2022

    Rk                   Team  GP   W   L  OT  PTS  PTS/GP  ROW   GF   GA   GD
0    1       Florida Panthers  82  58  18   6  122    1.49   55  340  246   94
1    2     Colorado Avalanche  82  56  19   7  119    1.45   52  312  234   78
2    3    Carolina Hurricanes  82  54  20   8  116    1.41   53  278  202   76
3    4    Toronto Maple Leafs  82  54  21   7  115    1.40   51  315  253   62
4    5         Minnesota Wild  82  53  22   7  113    1.38   48  310  253   57
5    6         Calgary Flames  82  50  21  11  111    1.35   48  293  208   85
6    7       New York Rangers  82  52  24   6  110    1.34   48  254  207   47
7    8    Tampa Bay Lightning  82  51  23   8  110    1.34   49  287  233   54
8    9        St. Louis Blues  82  49  22  11  109    1.33   47  311  242   69
9   10          Boston Bruins  82  51  26   5  107    1.30   49  255  220   35
10  11        Edmonton Oilers  82  49  27   6  104    1.27   44  290  252   38
11  12    Pittsburgh Penguins  82  46  25  11  103    1.26   43  272  229   43
12  13    Washington Capitals  82  44  26  12  100    1.22   39  275  245   30
13  14      Los Angeles Kings  82  44  27  11   99    1.21   40  239  236    3
14  15           Dallas Stars  82  46  30   6   98    1.20   41  238  246   -8
15  16    Nashville Predators  82  45  30   7   97    1.18   41  266  252   14
16  17   Vegas Golden Knights  82  43  31   8   94    1.15   39  266  248   18
17  18      Vancouver Canucks  82  40  30  12   92    1.12   37  249  236   13
18  19          Winnipeg Jets  82  39  32  11   89    1.09   37  252  257   -5
19  20     New York Islanders  82  37  35  10   84    1.02   35  231  237   -6
20  21  Columbus Blue Jackets  82  37  38   7   81    0.99   33  262  300  -38
21  22        San Jose Sharks  82  32  37  13   77    0.94   29  214  264  -50
22  23          Anaheim Ducks  82  31  37  14   76    0.93   27  232  271  -39
23  24         Buffalo Sabres  82  32  39  11   75    0.91   29  232  290  -58
24  25      Detroit Red Wings  82  32  40  10   74    0.90   29  230  312  -82
25  26        Ottawa Senators  82  33  42   7   73    0.89   30  227  266  -39
26  27     Chicago Blackhawks  82  28  42  12   68    0.83   22  219  291  -72
27  28      New Jersey Devils  82  27  46   9   63    0.77   24  248  307  -59
28  29    Philadelphia Flyers  82  25  46  11   61    0.74   24  211  298  -87
29  30         Seattle Kraken  82  27  49   6   60    0.73   24  216  285  -69
30  31        Arizona Coyotes  82  25  50   7   57    0.70   24  207  313 -106
31  32     Montreal Canadiens  82  22  49  11   55    0.67   19  221  319  -98

***BasicStats Function*** - Allows the user to retrieve a stat for a specific team and year

In [8]:
basic.BasicStats()

Enter the season you would like data for: Please just enter the year the season finished (e.g., 2021/2022 enter 2022) 2022
Enter the team name:  Ottawa Senators
Enter the stat/column you want (RK, GP, W, L, OT, PTS, PTS/GP, ROW, GF, GA, GD:  OT

7

***AdvancedStats Function*** - Allows the user to retrieve PTS/GP, GF/GP and GA/GP for a specific team and year

In [12]:
basic.AdvancedStats()

Enter the season you would like data for: Please just enter the year the season finished (e.g., 2021/2022 enter 2022) 2022
Enter the team name:  Arizona Coyotes

              Team    PTS/GP    GF/GP     GA/GP
0  Arizona Coyotes  0.695122  2.52439  3.817073

### Module - toplists

***TopTeams Function*** - Ranks the teams based on points and returns a list of a given size

In [14]:
import hockey.teamstats.toplists as list

list.TopTeams()

Enter the season you would like data for: Please just enter the year the season finished (e.g., 2021/2022 enter 2022) 2023
Enter the number of top teams you want to display:  5

                   Team  PTS
0         Boston Bruins  135
1   Carolina Hurricanes  113
2     New Jersey Devils  112
3   Toronto Maple Leafs  111
4  Vegas Golden Knights  111

***TopAssists Function*** - Ranks the players based on assists and returns a list of a given size

In [19]:
list.TopAssists()

Enter the season you would like data for: Please just enter the year the season finished (e.g., 2021/2022 enter 2022) 2024
Enter the number of players you want to display:  5

,name,I_F_primaryAssists,I_F_secondaryAssists,total_assists
211,Nikita Kucherov,62,38,100
1571,Connor McDavid,62,38,100
2991,Nathan MacKinnon,50,39,89
3621,Quinn Hughes,35,40,75
2281,Artemi Panarin,37,34,71

***TopGoals Function*** - Ranks the players based on goals and returns a list of a given size

In [24]:
list.TopGoals()

Enter the season you would like data for: Please just enter the year the season finished (e.g., 2021/2022 enter 2022) 2021
Enter the number of players you want to display:  3

                 name  I_F_goals
2201  Auston Matthews         41
126    Connor McDavid         33
3266   Alex DeBrincat         32